In [1]:
animals_1 = [["Dog", "Cat"], "Tiger"]
animals_2 = animals_1[0]
animals_2 += ["Goat"]

nanimals_2 = animals_2 + ["Sheep"]

print(animals_2)
print(animals_1)

['Dog', 'Cat', 'Goat']
[['Dog', 'Cat', 'Goat'], 'Tiger']

In [2]:
food_items_1 = ["Sandwich", "burger", "Fries"]
food_items_2 = ["Sandwich", "Burger", "Fries"]

is_different = (id(food_items_2) != id(food_items_1))
print(is_different)

True

In [5]:
cars_1 = ["Jaguar"]
cars_2 = ["Ferrari", cars_1]

cars_1 = cars_1+["Ambassador"]
print(cars_1)
print(cars_2)

['Jaguar', 'Ambassador']
['Ferrari', ['Jaguar']]

In [6]:
word = "car"
transport = ["bike", word]
print(transport)

word = word.replace("c","k")
print(transport)

['bike', 'car']
['bike', 'car']

In [7]:
total = 0

for i in range(1, 5):
    total += i
    print(id(total))

140725722538792
140725722538856
140725722538952
140725722539080

In [8]:
a = 3 
list_a = [1, 2]

list_b = list_a + [a]
print(id(list_a) == id(list_b))

list_a += [4]
print(list_b)

False
[1, 2, 3]

In [10]:
continents_1 = ["Asia", "Europe"]
continents_2 = continents_1
continents_1 += ["Africa"]

print("Continents list 1 : " + str(continents_1))
print("Continents list 2 : " + str(continents_2))

Continents list 1 : ['Asia', 'Europe', 'Africa']
Continents list 2 : ['Asia', 'Europe', 'Africa']

In [11]:
number = 4
seasons = ["Rainy", "Summer", number]

number += 2 
seasons[0] = ["Autumn"]
print(seasons)

[['Autumn'], 'Summer', 4]

In [12]:
a = [1, 2, 3]
numbers = [0, a]

a += [4]
x = numbers[1]
x[0] = 3 
print(numbers)

[0, [3, 2, 3, 4]]

In [13]:
list_a = ["India", "italy", "Canada"]
list_b = ["Australia", list_a]

list_a += ["Iceland"]

print(list_a)
print(list_b)

['India', 'italy', 'Canada', 'Iceland']
['Australia', ['India', 'italy', 'Canada', 'Iceland']]

In [14]:
a = 13
b = 17
list_a = [5, 7, 11]
list_b = list_a 

list_a = list_a + [a]
print(list_a)

list_a = [b] + list_a 
print(list_a)
print(id(list_a) == id(list_b))

[5, 7, 11, 13]
[17, 5, 7, 11, 13]
False

In [15]:
list_1 = [99, 11, 22, [4,5]]
list_2 = list_1[3]
list_2 += [100]

list_2 = list_2 + [44]

print(list_2)
print(list_1)
print(id(list_1[1]) == id(list_2))

[4, 5, 100, 44]
[99, 11, 22, [4, 5, 100]]
False

In [16]:
tourist_places_1 = ["Charminar", "Golconda Fort"]
tourist_places_2 = [tourist_places_1]
tourists_places_3 = ["Amritsar"] + [tourist_places_1]

tourist_places_1[1] = "Taj Mahal"

print(tourist_places_2)
print(tourists_places_3)

[['Charminar', 'Taj Mahal']]
['Amritsar', ['Charminar', 'Taj Mahal']]